

/* Set font of website */
body {
    font-family: Arial;
}

/* Set headers such that they are centered */
h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.point {
    fill: lightblue;
}

.border {
    stroke: black;
    stroke-width: 5px;
}

.highlight {
    fill: yellow;
}

#leftcol {
    width: 60%;
}

#rightcol {
    width: 40%;
}

.bar {
    fill: navy;
}

.tooltip {
    position: absolute;
    background-color: rgb(45, 51, 75);
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
  }
