
/* Set font of website */
body {
    font-family: Arial;
}

/* Set headers such that they are centered */
h1, h2 {
    text-align: center;
}

 /* Create flex container */
.flex-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

/* Set width of columns (3:2 ratio) */
#leftcol {
    flex: 3;
}

#rightcol {
    flex: 2;
}

 /* Set color of point */
.point {
    fill: lightblue;
}

 /* Set highlight color when point/bar is hovered */
.highlight {
    fill: yellow;
}

/* Set color of bar */
.bar {
    fill: lightblue;
}

/* Customize tooltip */
.tooltip {
    position: absolute;
    background-color: "moccasin";
    padding: 5px;
}
