

/* Set font of website */
body {
    font-family: Arial;
}

/* Set headers such that they are centered */
h1, h2 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.point {
    fill: lightblue;
}

.border {
    stroke: black;
    stroke-width: 5px;
}

.highlight {
    fill: yellow;
}

#leftcol {
    width: 60%;
}

#rightcol {
    width: 40%;
}

